- namespace = { }
- cms_object = @page || cms_object
- tags = cms_object.tags(true).select{|t| t.is_cms_block?}.uniq{|t| t.identifier}
- tags.each do |tag|
  - namespace[tag.namespace || 'default'] ||= []
  - namespace[tag.namespace || 'default'] << tag

#form-blocks
  - if tags.empty?
    .no-tags
      = link_to cms_object.layout.label, edit_comfy_admin_cms_site_layout_path(@site, cms_object.layout)
      = t('.no_tags').html_safe
  - else
    .tabbable
      - if namespace.size > 1
        %ul.nav.nav-tabs
          - namespace.each_with_index do |(name, tags), index|
            %li{:class => index == 0 ? 'active' : nil}
              = link_to name.humanize, "#ns-#{name}", :data => {:toggle => 'tab'}
      .tab-content
        - namespace.each_with_index do |(name, tags), index|
          -  identifiers = tags.map{ |t| t.identifier }
          .tab-pane{:id => "ns-#{name}", :class => index == 0 ? 'active' : nil}
            = fields_for :blocks, cms_object.blocks, include_id: false do |b|
              - current_tag = b.object.tag if b.object.blockable
              - if current_tag && identifiers.include?(current_tag.identifier)
                = b.hidden_field :identifier
                = b.send(current_tag.class.to_s.demodulize.underscore, current_tag)
